*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


main{
    border: 2px solid blue;
    border-radius: 10px;
    width: 500px;
    margin: 100px auto;
    padding: 20px;
}
body{
    

}
h2{
    text-align: center;
    color: red;
    margin-bottom: 20px;
}


section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
label {
    margin-left: 50px;}
  /* input {
    margin-right: 50px;
    border: 2px solid black;
  } */
article{
    text-align: center;
    margin-top: 20px;
}
#button1{
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    width: 100px;
    background-color:darkgray ;
    height: 35px;
}

#button2{
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    width: 100px;
    background-color:darkgray ;
    height: 35px;
    margin-left: 5px;

}
#dob{
    width: 175px;
}

/* #aaa label{
    position: relative;

    right: 110px
} */
/* #Gender1{
    margin-left: 50px;
}
#Gender2{
    margin-right: 170px;
} */
#Gender  {
    padding: 10px;
    margin: 0px 10px;
}
