
*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(199, 127, 32);
    margin: 50px;
    margin: 10px 30px;
}

.div{
    background-color: blueviolet;

    margin-top: 10px;
    margin-bottom: 20px;
    width: 100px;
    
}