body {
    font-family: "Quicksand", sans-serif;
  }
  
  /** class'ı language olan ul elementini sec */
  ul.languages {
    font-family: "Bruno Ace SC", cursive;
  
    /*? Madde imi stilleri */
    list-style-type: circle;
    list-style-type: square;
    list-style-type: none;
    list-style-type: lower-latin;
    list-style-type: georgian;
  
    /*? Madde iminin yeri li'lerin içerisinde mi yoksa dışında mı olacak */
    list-style-position: outside;
  
    /*? Madde imlerinin soldaki boşluğunu ayarlamak için */
    padding: 20px;
  
    /*? madde iminin seklini linkteki icona gore sec */
    list-style-image: url("../img/igloo-solid.svg");
  }
  
  h2 {
    color: blueviolet;
  }
  
  /*? h2 icerisindeki i elementine uygula */
  h2 i {
    /** iconlarin buyuklugunu 40px yap */
    font-size: 40px;
  }
  
  /*? fa-solid adindaki class'a uygula */
  .fa-solid {
    /** iconlarin rengini red yap */
    color: red;
  }
  /*!----- PSEUDO CLASSES ------- */
  ul.pseudo li {
    background-color: darkgray;
    font-weight: 700;
  }
  
  ul.pseudo li:first-child {
    color: blue;
  }
  
  ul.pseudo li:last-child {
    color: green;
  }
  
  ul.pseudo li:nth-child(5) {
    color: purple;
    font-weight: 300;
  }
  
  ul.pseudo li:nth-child(odd) { /*Odd dedigmiz zaman tek sayilari alir o renge boyor*/
    color: hotpink;
    background-color: lightgray;
  }
  
  ul.pseudo li:nth-child(even) { /*even da is ciftleri alir.*/
    color: lightsalmon;
    
  }
  
  /*?Tek degilse */
  /* ul.pseudo li:not(odd) {
    background-color: green;
  } */
  
  /*? Fare ile li'lerin üzerine gelindiğinde  */
  ul.pseudo li:hover {
    background-color: black;
    cursor: pointer;
    /* display: inline-block; */
  }
  /*? Farenin sol tuşu ile bir li'y tiklanidigi sure boyunca o renge donusur.  */
  ul.pseudo li:active {
    background-color: green;
  }
  
  /*? class'i x olan p elementinin icerinde .y class'inin içindeki z id'li elementi sec  */
  /* p.x .y #z{
  }
  <p class="x">
  <div class="y">
    <div id="z"></div>
    <div class="k"></div>  
  </div>
  </p> */

  /* input aktif hale geldiginde demek isiyorsak focus kullaniriz */
input:focus {
    background-color: tomato;
    color: white;
    /* border: 4px dotted white; */
    outline: none;
}  


/* !LINKlerde kullanilan pseoduo */

/* nav.links a {
  color: crimson;
  text-decoration: none;
}

nav.links a:hover {
  color: purple;
  text-decoration: underline;
} */ kisayol bu asagidakilerin


/* ? link ziyaret edilmemis linkleri secer */
nav.links a:link{
    color: brown;

}
/* visited ziyaret edildiginde  */
nav.links a:visited{
    color: rgb(42, 165, 48);

}
/* linklere tiklanildiginda */
nav.links a:active {
    color: rgb(165, 97, 42);

}
/* hover linkin uzerine fare ile geldiginde */
nav.links a:hover{
    color: rgb(42, 140, 165);
    text-decoration: none;

}


/* !----PSEUDO ELEMENTS----- */
.p-elements::first-line{
    color: red;
}
.p-elements::first-letter{
    font-size: 30px;
}

ul.before-after li::before{
    content: '😒';

}

ul.before-after li:nth-child(3)::before{
    content: '🥲';

}
ul.before-after li:last-child::after{
    content: '🤮';

}
ul.before-after li:nth-child(2)::after{
    content: 'Nice car';
    font-weight: 600;
    font-family: 'Font Awesome 6 Free';
content: '\f53a'; /*Ikon kullanmak istiyorSAK \ KOAYARAK font awesome 6 yaziyruz*/

}

ul.before-after li:nth-child(3):hover::after{
    content: '🥲';

}